{{* tpl EN casual, to invite friendly to those knowing me *}}
Please join my community on {{$projectname}}.
{{$linktxt}}	{{$invite_where}}

You will need to supply this invitation code: 
	{{$invite_code}}

Or:

1. Register at any {{$projectname}} location 
   (they are all inter-connected).
2. Enter my {{$Projectname}} network address into the site searchbar.
   {{$invite_whereami}}
   or visit {{$invite_whoami}}
3. Click [Connect]

